 <ion-header>

  <ion-navbar>
    <ion-title>Step-3</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  class="loginBg">
    <div class="topSection">
        <span ></span>
        <span ></span>
        <span class="fillClass">3</span>
        <span></span>
        <span></span>
      </div>
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="">
  </div>



  <div class="loginFrmSection">
    <div class="inputBox">
        <ion-item>
           <ion-label  stacked>
              Your M.L.S.#
            </ion-label>
           <ion-input type="number" placeholder="" [(ngModel)]='User.UserMls' name="UserMls"></ion-input>
         </ion-item>
         <ion-item>
            <ion-label  stacked>
                Your N.R.D.S.#
             </ion-label>
            <ion-input type="number" placeholder="" [(ngModel)]='User.UserNrds' name="UserNrds"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label  stacked>
                  Years and months Licensed
               </ion-label>

                <ion-datetime display-format="MMM YYYY" [(ngModel)]='User.UserYrMnthLcnsd' name="UserYrMnthLcnsd"></ion-datetime>

            </ion-item>

         <ion-item>
            <ion-label stacked>Designations & Certifications</ion-label>{{DesignationsList}}
            <ion-select  class="selectDropdown" [(ngModel)]='User.UserDsgtnCrtftn' name="UserDsgtnCrtftn">
             <ion-option *ngFor="let Designations of DesignationsList" [value]="Designations._id">{{Designations.name}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label stacked>Licensed in State</ion-label>
              <ion-select  class="selectDropdown"  [(ngModel)]='User.UserLcnsdSt' name="UserLcnsdSt">
               <ion-option *ngFor="let LicencedState of LicencedStateList" [value]="LicencedState._id">{{LicencedState.name}}</ion-option>
              </ion-select>
            </ion-item>




         <ion-item>
            <ion-label  stacked>
                Your State License Number
             </ion-label>
            <ion-input type="text" placeholder="" [(ngModel)]='User.UserLcnsdStNmbr' name="UserLcnsdStNmbr"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked> License Expires</ion-label>
              <ion-select  class="selectDropdown" [(ngModel)]='User.UserLcnsExpire' name="UserLcnsExpire">
                  <ion-option *ngFor="let Year of YearList" [value]="Year">{{Year}}</ion-option>
              </ion-select>
            </ion-item>

    </div>
    <div class="inputBottomSection">
        <button class="greenBtn" (click)="registrationPage4()">Continue</button>

    </div>


  </div>
</ion-content>
